<mat-card>
    <mat-card-title>General</mat-card-title>
    <img mat-card-image [src] ="imgFromBtn" alt="">
    <!--<mat-card-header class="upper-case margin-2">new-york | paris | london</mat-card-header>-->
    <mat-card-content>
        <mat-list style="max-height: 200px"
                  class="height-90-item"
                  *ngFor="let city of cities index as index">
            <mat-list-item (click)="imgToHeadAndSocialComp(index)"><span mat-line>{{city.title}}</span>

                <ul>
                    <li><img src = {{city.iconPath1}}/></li>
                    <li><img src = {{city.iconPath2}}/></li>
                </ul>

            </mat-list-item>

        </mat-list>
    </mat-card-content>
</mat-card>
